    .js{
        font-weight: bold;
        color:lightcoral;
      }
    #first{
          color:lightseagreen;
        }
    span{
        color:green;
    }
    #clock{
        color:darkcyan;
    }
    