/*전체 영역을 통틀어서 스타일 정의*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;600;700;800;900&display=swap');
</style>{
    font-family: 'Montserrat', sans-serif;
}
a {
    color: #000000;
    text-decoration: : none;
}
body {
    font-family: 'Montserrat', sans-serif;;
}

/*네비게이션 영역*/
.navbar-default {
    background-color: aquamarine;
    border-color: bisque;
}
